# Virtual Environment
venv/
=0.17.0
.gradio
.python-version
.DS_Store
# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Local development settings
.env
.venv
env/

# Jupyter Notebook
.ipynb_checkpoints

# Model files (if they're large)
*.pt
*.pth